a{text-decoration: none;
color: white;
}
.lampa{
background: url("images/lampa.png");
height: 1000px;
background-size: cover;
color: #FFFFFF;
text-align: centre;

}
.fraza{
margin-left: 300px;
    margin-right: auto;
    margin-top: 200px;
    width: 6em;
    font-size: 100px;
    text-transform: uppercase;

}
.logo{
background-color: #333333;
width: 180px;
height:1000px;
margin-right:0;
position: absolute;
}
.topnav {
  overflow: hidden;
  background-color: ;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 200px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  color: white;
 }

.knopka{
margin-left: 300px;
font-size: 40px;
}
