a{text-decoration: none;
color: white;
}
.lampa{
background: url("images/lampa.png");
height: 1000px;
background-size: cover;
color: #FFFFFF;
text-align: centre;

}
.nav_main{
display: flex;
align-items:centre;
}
.nav{
padding: 10px, 15px;
font-size: 20px;
margin-left: 60px;
}
#nav1{
margin-left: 500px;
display: flex;
}
.fraza{
display: flex;
 font-family: 'Bebas Neue';
    font-size: 60px;
    line-height: 70px;
    height: 60px;
    letter-spacing: 5.70937px;
    margin-top: 317px;
}

